.option{
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0px;
}

.option>span{
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
}

.select-wrapper{
    display: inline-flex;
    width: 160px;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
}

.select-wrapper ul{
    display: inline-flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.select-wrapper ul li{
    display: inline-block;
    border-radius: 2px;
}

.clear-wrapper{
    display: inline-block;
    margin-left: 5px;
}

.clear-wrapper button{
    outline: none;
    margin: 0;
    padding: 0;
    border: 1px solid transparent; 
    background: gainsboro;
}

.on{
    border: 1px solid #000000;
}