.item{
    display: inline-flex;
    width: 100%;
    height: 35px;
    font-size: 18px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.item input{
    margin-left: 5px;
    width: 20px;
}

.item-content{
    position: relative;
    top: 5px;
    width: 320px;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:gray;
}

.item-del{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    height: 24px;
    width: 24px;
    outline: none;
    border:0;
    border-radius: 50%;
}