.type{
    display: inline-flex;
    width: 100%;
    height:100;
    justify-content: center;
    align-items: center;
}

.type input{
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border:0;
    background: none;
    width: 100%;
    height:40px;
    font-size: 25px;
    font-family: sans-serif;
    text-indent: 20px;
}